@import '../base/base.scss';

$button-margin: 0.5rem;

@mixin base() {
  display: inline-block;
  outline: none;
  margin: $button-margin;
  padding: 0.5rem 1rem;

  border-style: $border-style;
  border-width: $border-width;

  &:not([disabled]) {
    @include cursor-clickable();
    border-color: $color-primary;
  }

  &:disabled {
    @include cursor-disabled();
    border-color: $color-primary-disabled;
  }
}

button {
  &.primary {
    @include base();

    color: $color-background;

    &:not([disabled]) {
      background-color: $color-primary;
    }

    &:disabled {
      background-color: $color-primary-disabled;
    }

    &:hover:not([disabled]), &:focus:not([disabled]) {
      border-color: $color-secondary;
      background-color: $color-secondary;
    }

    &:active:not([disabled]) {
      border-color: $color-primary;
      color: $color-primary;
      background-color: $color-background;
    }
  }

  &.secondary {
    @include base();

    background-color: $color-background;

    &:not([disabled]) {
      color: $color-primary;
    }

    &:disabled {
      color: $color-primary-disabled;
    }

    &:hover:not([disabled]), &:focus:not([disabled]) {
      border-color: $color-secondary;
      color: $color-secondary;
    }

    &:active:not([disabled]) {
      color: $color-background;
      border-color: $color-primary;
      background-color: $color-primary;
    }
  }
}
