$button-margin: 0.5em;

button {

  display: inline-block;
  outline: none;
  margin: $button-margin;
  padding: 0.5em 1em;

  border-style: solid;
  border-width: 0.05em;

  &.primary {

    border-color: $color-primary;
    color: $color-background;
    background-color: $color-primary;

    &:hover, &:focus {
      border-color: $color-secondary;
      background-color: $color-secondary;
    }

    &:active {
      color: $color-primary;
      background-color: $color-background;
    }
  }

  &.secondary {

    border-color: $color-primary;
    color: $color-primary;
    background-color: $color-background;

    &:hover, &:focus {
      border-color: $color-secondary;
      color: $color-secondary;
    }

    &:active {
      color: $color-background;
      background-color: $color-primary;
    }
  }
}
