@import '../base/base.scss';

.container-container-box {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  &.borders {
    border: $border-width $border-style $color-divider;
    margin: $container-margin;
  }
}

.container-container-content {
  margin: $container-padding;
  flex: auto;

  &.scroll {
    overflow: auto;
  }
}
