@import '../base/base.scss';

$title-height: 1.8em;
$title-left: 2em;
$title-padding-vertical: 0.2em;
$title-padding-horizontal: $container-padding;

div {
  &.group-box-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: $border-width $border-style $color-divider;
    margin: ($container-margin+($title-height/2)) $container-margin $container-margin $container-margin;

    &> .title {
      height: $title-height;
      margin-left: $title-left;
      margin-top: -($title-height/2);
      border: $border-width $border-style $color-divider;
      padding: $title-padding-vertical $title-padding-horizontal $title-padding-vertical $title-padding-horizontal;
      background-color: $color-background;

      &> * {
        margin: 0;
      }
    }

    &> .content {
      padding: $container-padding;
      width: 100%;
    }
  }
}