@import '../base/base.scss';

div {
  &.splitter-layout {

    &> .layout-splitter {
      background-color: $color-divider;
      width: 0.2em;

      &:hover {
        background-color: $color-primary;
      }
    }

    &> .layout-pane:first-child {
      padding-right: $container-padding;
    }

    &> .layout-pane:last-child {
      padding-left: $container-padding;
    }

  }

  &.splitter-layout.layout-changing {
    &> .layout-splitter {
      background-color: $color-secondary;
    }
  }

  &.splitter-layout.splitter-layout-vertical {
    &> .layout-splitter {
      height: 0.2em;
    }

    &> .layout-pane:first-child {
      padding-bottom: $container-padding;
      padding-right: 0;
    }

    &> .layout-pane:last-child {
      padding-top: $container-padding;
      padding-left: 0;
    }
  }
}
