@import '../base/base.scss';

.splitter-container {

  display: flex;
  flex-direction: row;
  align-items: stretch;

  &.layout-changing {
    cursor: col-resize;
  }

  &> .layout-splitter {
    flex: 0 0 auto;
    cursor: col-resize;

    background-color: $color-divider;
    width: 4px;

    &:hover {
      background-color: $color-primary;
    }
  }

  &.layout-changing > .layout-splitter {
    background-color: $color-secondary;
  }

  &> .layout-pane {

    flex: 0 0 auto;
    overflow: auto;

    &.layout-pane-primary {
      flex: 1 1 auto;
    }

    &:first-child {
      margin-right: $container-margin;
    }

    &:last-child {
      margin-left: $container-margin;
    }
  }

  &.splitter-container-vertical {

    flex-direction: column;

    &.layout-changing {
      cursor: row-resize;
    }

    &> .layout-splitter {
      width: auto;
      height: 4px;
      cursor: row-resize;
    }

    &> .layout-pane:first-child {
      margin-bottom: $container-margin;
      margin-right: 0;
    }

    &> .layout-pane:last-child {
      margin-top: $container-margin;
      margin-left: 0;
    }
  }

}
