@import '../base/base.scss';

$title-height: 2.2rem;

.tab-panel.group-box-container {
  margin-top: $container-margin+($title-height/2);

  &> .title {
    margin-top: -($title-height/2);
    border: 0;
    padding: 0;

    &> :not(:first-child) {
      border-left-width: 0;
    }
  }
}
