@import '../base/base.scss';

.container-box {
  margin: 0;
  padding: 0;

  &.stretch {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
}

.container-content {
  position: relative;
}
