@import '../../../components/base/base.scss';

$padding-horizontal: 2em;
$title-padding-vertical: 0.2em;
$content-padding-vertical: $container-padding;
$actions-padding-vertical: 0;

@mixin dialog-title() {
  display: flex;
  align-items: center;
  padding-left: 0.4em;
}

div {

  &.dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $color-overlay;
  }

  &.dialog {
    position: absolute;
    outline: none;
    overflow: auto;
    border: $border-width $border-style $color-primary;
    background-color: $color-background;
    color: $color-primary;

    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);

    &> .title {
      padding: $title-padding-vertical $padding-horizontal $title-padding-vertical $padding-horizontal;
      border-bottom: $border-width $border-style $color-primary;
    }

    &> .content {
      padding: $content-padding-vertical $padding-horizontal $content-padding-vertical $padding-horizontal;
    }

    &> .actions {
      padding: $actions-padding-vertical $padding-horizontal $actions-padding-vertical $padding-horizontal;
      border-top: $border-width $border-style $color-primary;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }

    &> .content.dialog-busy {
      display: flex;
      align-items: center;
      padding-left: 1em;

      &> .busy-icon {
        height: 3em;
        width: 3em;
      }

      &> .busy-text {
        margin-left: 1em;
      }
    }

    &> .title.dialog-title-info {
      @include dialog-title();
      color: $color-info;

      &> .info-title-icon {
        height: 3em;
        width: 3em;
      }

      &> .info-title-text {
        margin-left: 1em;
      }
    }

    &> .title.dialog-title-error {
      @include dialog-title();
      color: $color-error;

      &> .error-title-icon {
        height: 3em;
        width: 3em;
      }

      &> .error-title-text {
        margin-left: 1em;
      }
    }
  }
}
