@import '../../../components/base/base.scss';

$padding-horizontal: 2em;
$title-padding-vertical: 0.2em;
$content-padding-vertical: 1em;
$actions-padding-vertical: 0;

div {
  &.dialog {
    position: absolute;
    outline: none;
    overflow: auto;
    border: $border-width $border-style $color-primary;
    background-color: $color-background;

    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    transform: translate(-50%, -50%);

    &> .title {
      padding: $title-padding-vertical $padding-horizontal $title-padding-vertical $padding-horizontal;
      border-bottom: $border-width $border-style $color-primary;
    }

    &> .content {
      padding: $content-padding-vertical $padding-horizontal $content-padding-vertical $padding-horizontal;
    }

    &> .actions {
      padding: $actions-padding-vertical $padding-horizontal $actions-padding-vertical $padding-horizontal;
      border-top: $border-width $border-style $color-primary;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }
  }

  &.dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $color-overlay;
  }
}
