@import '../../../components/base/base.scss';

$padding-horizontal: 0.5em;
$padding-vertical: 0.3em;

div {
  &.notifications-overlay {
    position  : fixed;
    top       : 1em;
    right     : 0;
    left      : 0;
    z-index   : 1000;
    width     : 80%;
    max-width : 20em;
    margin    : auto;
  }

  &.notification {
    border: $border-width $border-style $color-primary;
    color: $color-primary;
    margin-bottom: 0.2em;

    &.info {
      background-color: $color-info;
    }

    &.warning {
      background-color: $color-warning;
    }

    &.error {
      background-color: $color-error;
    }

    &> .title {
      padding: $padding-vertical $padding-horizontal $padding-vertical $padding-horizontal;
      border-bottom: $border-width $border-style $color-primary;

      &> * {
        margin: 0;
      }
    }

    &> .content {
      padding: $padding-vertical $padding-horizontal $padding-vertical $padding-horizontal;
    }

    &> .action {
      padding: $padding-vertical $padding-horizontal $padding-vertical $padding-horizontal;
      float: right;

      &> * {
        background-color: $color-transparent;
        border: 0;
        margin: 0;
        padding: 0;
      }
    }
  }
}