@import '../base/base.scss';
@import './editor-base.scss';

// https://codepen.io/bbodine1/pen/novBm
// https://www.w3schools.com/howto/howto_css_switch.asp

$slider-height: 1.5rem;
$slider-width: $slider-height * 2;
$bullet-padding: 0.2rem;
$bullet-padding-big: $slider-width - $slider-height + $bullet-padding;

.editor-container.boolean-slider {
}

input.editor-component.boolean-slider {
  opacity: 0;
  position: absolute;
  height:0;
  width: 0;
}

div.editor-component.boolean-slider {
  cursor: pointer;
  &.read-only {
    cursor: default;
  }
  &.disabled {
    @include cursor-disabled();
  }

  padding: 0;
  margin: 0;
  height: $slider-height;
  width: $slider-width;
  background-color: $color-divider;
  border-radius: $slider-height / 2;
  position: relative;

  &:not(.disabled):not(.read-only) {
    -webkit-transition: .4s;
    transition: .4s;
  }

  border: $border-width $border-style $color-primary;

  &.disabled {
    border-color: $color-primary-disabled;
  }

  &.checked,
  &.indeterminate {
    background-color: $color-primary;

    &.disabled {
      background-color: $color-primary-disabled;
    }
  }

  &.error {
    border-color: $color-error;
    background-color: $color-background-error;

    &.checked,
    &.indeterminate {
      background-color:$color-error;
    }
  }

  &.focus:not(.disabled),
  &:hover:not(.disabled) {
    &:not(.error) {
      border-color: $color-secondary;

      &.checked,
      &.indeterminate {
        background-color: $color-secondary;
      }
    }
  }

  &:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: $bullet-padding;
    margin-right: $bullet-padding-big;
    border-radius: 50%;
    background-color: $color-background;

    &:not(.disabled):not(.read-only) {
      -webkit-transition: .4s;
      transition: .4s;
    }
  }

  &.checked:after {
    margin: $bullet-padding;
    margin-left: $bullet-padding-big;
  }

  &.indeterminate:after {
    display: block;

    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 0.7rem;
    height: 0.2rem;
    background: $color-background;
  }
}
