@import '../base/base.scss';
@import './editor-base.scss';

.editor-container {
  border: $border-width $border-style $color-primary;
  background-color: $color-background;
  color: $color-primary;
  padding: 0;
  margin: 0.5rem;
  display: inline-flex;
  width: 20rem;

  &.disabled {
    @include cursor-disabled();
    border-color: $color-primary-disabled;
    color: $color-primary-disabled;
  }

  &.read-only {
  }

  &.error {
    border-color: $color-error;
  }

  &.focus:not(.disabled) {
    color: $color-secondary;

    &:not(.error) {
      border-color: $color-secondary;
    }
  }

  &:hover:not(.disabled) {
    color: $color-secondary;

    &:not(.error) {
      border-color: $color-secondary;
    }
  }

  &> .editor-button {
    margin: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-top-width: 0;
    padding: 0 0.2rem;
    width: 1rem;

    background-color: $color-background;
    border-color: $color-secondary;
    color: $color-secondary;

    &:active:not([disabled]) {
      color: $color-background;
      border-color: $color-secondary;
      background-color: $color-secondary;
    }
  }
}

.editor-component {
  background-color: $color-background;
  color: $color-primary;
  margin: 0;
  padding: $input-padding;
  border: none;
  outline: none;
  width: $input-width;
  height: $input-height;
  font-size: 1rem;

  &:disabled {
    @include cursor-disabled();
    color: $color-primary-disabled;
  }

  &:read-only {
  }

  &:hover:not([disabled]) {
    color: $color-secondary;
  }

  &:focus:not([disabled]) {
    color: $color-secondary;
  }
}
