@import '../base/base.scss';

.editor-container {
  border: $border-width $border-style $color-primary;
  background-color: $color-background;
  color: $color-primary;
  padding: 0;
  margin: 0.5rem;
  display: inline-block;

  &.disabled {
    @include cursor-disabled();
    border-color: $color-primary-disabled;
    color: $color-primary-disabled;
  }

  &.read-only {
  }

  &.focus:not(.disabled) {
    border-color: $color-secondary;
    color: $color-secondary;
  }

  &:hover:not(.disabled) {
    border-color: $color-secondary;
    color: $color-secondary;
  }
}

.editor-base {
  background-color: $color-background;
  color: $color-primary;
  margin: 0;
  padding: 0.2rem;
  border: none;
  outline: none;

  &:disabled {
    @include cursor-disabled();
    color: $color-primary-disabled;
  }

  &:read-only {
  }

  &:hover:not([disabled]) {
    color: $color-secondary;
  }

  &:focus:not([disabled]) {
    color: $color-secondary;
  }
}
