@import '../base/base.scss';
@import './editor-base.scss';

// https://css-tricks.com/sliding-nightmare-understanding-range-input/
// https://codepen.io/daniloprates/pen/KgOVdK

$track-height: 1rem;
$track-bullet-radius: 0.15rem;
$thumb-bullet-radius: $track-height/2;
$track-margin-width: 0.2rem;

$colorTrack: red;
$colorThumb: orange;

@mixin trackN($n) {
  &.range-#{$n}:before {
    margin-right: 0;
    padding-left: $thumb-bullet-radius;
    right: $track-margin-width + $track-height;

    background: (
      radial-gradient(circle at $thumb-bullet-radius 50%, $colorTrack $track-bullet-radius*2, transparent $track-bullet-radius*2),
      linear-gradient(to bottom, transparent 45%, $colorTrack 45% 55%, transparent 55%)
    );

    $background-width: 100% / $n;
    background-size: (
      $background-width $track-height
    );

    background-clip: (
      padding-box,
      content-box
    );
  }

  &.range-#{$n}:after {
    box-sizing: border-box;
    content: "";
    position: absolute;
    z-index: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto $track-margin-width auto 0;
    padding-right: $thumb-bullet-radius;
    height: $track-height;
    width : $track-height;

    background: (
      radial-gradient(circle at $thumb-bullet-radius 50%, $colorTrack $track-bullet-radius*2, transparent $track-bullet-radius*2),
      linear-gradient(to bottom, transparent 45%, $colorTrack 45% 55%, transparent 55%)
    );

    background-clip: (
      padding-box,
      content-box
    );

    background-position: (
      right
    );
  }
}

@mixin thumb() {
  border: none;
  border-radius: 50%;
  box-sizing: border-box;
  border: (solid .35rem transparent) null (solid .25rem transparent);
  width: $track-height;
  height: $track-height;
  background: $colorThumb;
  background-clip: content-box;
  position: relative;
  z-index: 10;
  margin: auto 0;
}

@mixin null-thumb() {
  width: 0;
  height: 0;
}

.editor-container.integer-slider {
  //border: 0; TODO: remvoe at the end
}

.editor-component.integer-slider {
  -webkit-appearance: none;
  appearance: none;
  position: relative;

  &:not([readonly]):not([disabled]) {
    cursor: pointer;
  }

  &::-webkit-slider-runnable-track,
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
  }

  // default when range too big
  &:before {
    box-sizing: border-box;
    content: "";
    position: absolute;
    z-index: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto $track-margin-width;
    height: $track-height;

    background: (
      linear-gradient(to bottom, transparent 45%, $colorTrack 45% 55%, transparent 55%)
    );
  }

  &::-ms-track {
    border: none;
    color: transparent;
  }

  &::-ms-tooltip {
    display: none
  }

  &::-webkit-slider-thumb {
    @include thumb();
  }

  &::-moz-range-thumb {
    @include thumb();
  }

  &::-ms-thumb {
    @include thumb();
  }

  &.value-null {
    &::-webkit-slider-thumb {
      @include null-thumb();
    }

    &::-moz-range-thumb {
      @include null-thumb();
    }

    &::-ms-thumb {
      @include null-thumb();
    }
  }

  @for $n from 1 through 20 {
    @include trackN($n);
  }
}
