@import '../base/base.scss';

$colorTrack: #2788d0 !default;
$colorThumb: orange !default;

$h: 1em;
$w: 100%;

@mixin trackN($n) {
  &.range-#{$n}:before {
    $bgW: $w / ($n - 1);
    background-size: (
      $bgW $h,
      $w .25em
    );
  }
}

@mixin track() {
  width: $w;
  box-sizing: border-box;
  height: $h;
  border-radius: $h/2;
  // margin-right: 1em;
  box-sizing: content-box;
  background:
    (
      radial-gradient(circle at $h/2 50%, $colorTrack .3125em, $colorTrack .3125em, $colorTrack $h/2,transparent $h/2),
      linear-gradient(90deg, transparent $h, $colorTrack $h) repeat-x 0 50%
    );
}

@mixin thumb() {
  border: none;
  border-radius: 50%;
  box-sizing: border-box;
  border: (solid .35em transparent) null (solid .25em transparent);
  width: $h + .3em;
  height: $h + .3em;
  background: $colorThumb;
  background-clip: content-box;
  position: relative;
  z-index: 10;
  margin-top: -.1em;
  margin-left: .05em;
}

@mixin null-thumb() {
  width: 0;
  height: 0;
}

.editor-container.integer-slider {
}

.editor-component.integer-slider {
  -webkit-appearance: none;
  appearance: none;
  outline: none;

    display: block;
    margin: 1em auto;
    padding: 0;
    background: transparent;
    font-size: 1em;
    cursor: pointer;
    width: $w;
    position: relative;

    &,
    &::-webkit-slider-runnable-track,
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
    }
    &:after {
      content: "";
      width: 1em;
      height: 1em;
      border-radius: 50%;
      background: $colorTrack;
      position: absolute;
      right: 0;
    }
    &:before {
      content: "";
      position: absolute;
      z-index: 0;
      left: 0;
      right: $h - .2em;
      height: $h;
      background:
        (
          radial-gradient(circle at $h/2 50%, $colorTrack .3125em,  $colorTrack .3125em, $colorTrack $h/2,transparent $h/2),
          linear-gradient(90deg, transparent 0, $colorTrack 0) repeat-x 0 50%
        );
      box-sizing: border-box;
    }

    &::-ms-track {
      border: none;
      color: transparent;
    }
    &::-ms-tooltip {
      display: none
    }

    &::-webkit-slider-thumb {
      @include thumb();
    }
    &::-moz-range-thumb {
      @include thumb();
    }
    &::-ms-thumb {
      @include thumb();
    }

    &.value-null {
      &::-webkit-slider-thumb {
        @include null-thumb();
      }
      &::-moz-range-thumb {
        @include null-thumb();
      }
      &::-ms-thumb {
        @include null-thumb();
      }
    }
/*

  width: 100%;
  height: 25px;
  background: #d3d3d3;
  opacity: 0.7;

  &>:hover {
    opacity: 1;
  }

  &::-webkit-slider-thumb {
    @include thumb();
  }

  &::-moz-range-thumb {
    @include thumb();
  }

  &.value-null {

    &::-webkit-slider-thumb {
      @include null-thumb();
    }

    &::-moz-range-thumb {
      @include null-thumb();
    }
  }*/

  @for $n from 2 through 20 {
    @include trackN($n);
  }
}
