@import '../base/base.scss';
@import './editor-base.scss';

// https://css-tricks.com/sliding-nightmare-understanding-range-input/
// https://codepen.io/daniloprates/pen/KgOVdK

$track-height: 1rem;
$track-bullet-radius: 0.15rem;
$thumb-bullet-radius: $track-height/2;
$track-margin-width: 0.2rem;

$colorTrack: red;

@mixin track-n($n, $color) {
  &.range-#{$n}:before {
    margin-right: 0;
    padding-left: $thumb-bullet-radius;
    right: $track-margin-width + $track-height;

    background: (
      radial-gradient(circle at $thumb-bullet-radius 50%, $color $track-bullet-radius*2, transparent $track-bullet-radius*2),
      linear-gradient(to bottom, transparent calc(50% - 0.5px), $color calc(50% - 0.5px) calc(50% + 0.5px), transparent calc(50% + 0.5px))
    );

    $background-width: 100% / $n;
    background-size: (
      $background-width $track-height
    );

    background-clip: (
      padding-box,
      content-box
    );
  }

  &.range-#{$n}:after {
    box-sizing: border-box;
    content: "";
    position: absolute;
    z-index: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto $track-margin-width auto 0;
    padding-right: $thumb-bullet-radius;
    height: $track-height;
    width : $track-height;

    background: (
      radial-gradient(circle at $thumb-bullet-radius 50%, $color $track-bullet-radius*2, transparent $track-bullet-radius*2),
      linear-gradient(to bottom, transparent 45%, $color 45% 55%, transparent 55%)
    );

    background-clip: (
      padding-box,
      content-box
    );

    background-position: (
      right
    );
  }
}

@mixin track-big($color) {
  &:before {
    box-sizing: border-box;
    content: "";
    position: absolute;
    z-index: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto $track-margin-width;
    height: $track-height;

    background: (
      linear-gradient(to bottom, transparent calc(50% - 0.5px), $color calc(50% - 0.5px) calc(50% + 0.5px), transparent calc(50% + 0.5px))
    );
  }
}

@mixin thumb($color) {
  border: none;
  border-radius: 50%;
  box-sizing: border-box;
  border: $color solid 1px;
  width: $track-height;
  height: $track-height;
  background: $color-background;
  background-clip: content-box;
  position: relative;
  z-index: 10;
  margin: auto 0;
}

@mixin thumb-disabled() {
  border: $color-primary-disabled solid 1px;
}

@mixin null-thumb() {
  width: 0;
  height: 0;
}

.editor-container.integer-slider {
  border: 0;

  &> .editor-button {
    border-bottom-width: $border-width;
    border-top-width: $border-width;

    &:last-child {
      border-right-width: $border-width;
    }
  }
}

.editor-component.integer-slider {
  -webkit-appearance: none;
  appearance: none;
  position: relative;

  &:not([readonly]):not([disabled]) {
    cursor: pointer;
  }

  &::-webkit-slider-runnable-track,
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
  }

  &::-ms-track {
    border: none;
    color: transparent;
  }

  &::-ms-tooltip {
    display: none
  }

  &::-webkit-slider-thumb {
    @include thumb($color-primary);
  }

  &::-moz-range-thumb {
    @include thumb($color-primary);
  }

  &::-ms-thumb {
    @include thumb($color-primary);
  }

  @for $n from 1 through 20 {
    @include track-n($n, $color-primary);
  }

  // default when range too big
  @include track-big($color-primary);

  &.value-null {
    &::-webkit-slider-thumb {
      @include null-thumb();
    }

    &::-moz-range-thumb {
      @include null-thumb();
    }

    &::-ms-thumb {
      @include null-thumb();
    }
  }

  &.disabled {
    &::-webkit-slider-thumb {
      @include thumb-disabled();
    }

    &::-moz-range-thumb {
      @include thumb-disabled();
    }

    &::-ms-thumb {
      @include thumb-disabled();
    }

    @for $n from 1 through 20 {
      @include track-n($n, $color-primary-disabled);
    }
  }

  &.error {
    @for $n from 1 through 20 {
      @include track-n($n, $color-error);
    }

    @include track-big($color-error);
  }

  &:hover:not([disabled]),
  &:focus:not([disabled]) {
    &:not(.value-null) {
      &::-webkit-slider-thumb {
        @include thumb($color-secondary);
      }

      &::-moz-range-thumb {
        @include thumb($color-secondary);
      }

      &::-ms-thumb {
        @include thumb($color-secondary);
      }
    }

    &:not(.error) {
      @for $n from 1 through 20 {
        @include track-n($n, $color-secondary);
      }

      @include track-big($color-secondary);
    }
  }
}
