@import '../base/base.scss';
@import './editor-base.scss';

@mixin item() {
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;

  &> .icon {
    height: 1rem;
    width: 1rem;
  }

  &> .text {
    flex: 1 1 auto;
    margin-left: 0.5rem;

    display: flex;
    align-items: center;
    justify-content: left;
  }
}

.editor-container.listbox {
}

.editor-component.listbox {

  position: relative;

  &.disabled {
    color: $color-primary-disabled;
  }

  &> .item {
    @include item();
  }

  &:not(.read-only):not(.disabled) > .item:after {
    content: '';
    @include arrow-down(0.3rem);
  }

  &.opened:not(.read-only):not(.disabled) > .item:after {
    content: '';
    @include arrow-up(0.3rem);
  }

  &> .popup {
    position: absolute;
    top: 100%;
    left: -$border-width;
    right: -$border-width;
    z-index: 99;

    border: $border-width $border-style $color-secondary;
    background-color: $color-background;

    &> .item {
      @include item();

      height: 1.1rem;
    }
  }
}
