@mixin header() {
  border-bottom: $border-width $border-style $color-primary;
  padding: 0.4em;
  height: 3.8em;
}

@mixin header-icon() {
  width: 3em;
  margin-left: 1em;
  margin-right: 1em;
}

@mixin header-text() {
  display: flex;
  align-items: center;
  justify-content: center;
}

div {
  &.layout-container {

    &> .logo {
      @include base();
      @include header();

      &.clickable {
        @include cursor-clickable();

        &:hover:not([disabled]), &:focus:not([disabled]) {
          color: $color-secondary;
        }
      }

      grid-area: logo;

      display: flex;

      &> .icon {
        @include header-icon();

        order: 1;
      }

      &> .text {
        @include header-text();

        order: 2;
      }
    }

    &> .header {
      @include base();
      @include header();

      grid-area: header;

      display: flex;
      justify-content: center;

      &> .icon {
        @include header-icon();

        order: 1;
      }

      &> .text {
        @include header-text();

        order: 2;
      }
    }
  }
}
