@mixin base() {
  color: $color-primary;
  background-color: $color-background;
}

@mixin header() {
  border-bottom: $border-width $border-style $color-primary;
  padding: 0.4em;
  height: 3.8em;
}

@mixin header-icon() {
  width: 3em;
  margin-left: 1em;
  margin-right: 1em;
}

@mixin header-text() {
  display: flex;
  align-items: center;
  justify-content: center;
}

div {

  &.layout-container {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    background-color: $color-background;

    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "logo header"
      "menu content"
      "footer footer";
    align-content: stretch;

    &> .logo {
      @include base();
      @include header();

      &.clickable {
        @include cursor-clickable();
      }

      grid-area: logo;

      display: flex;

      &> .icon {
        @include header-icon();

        order: 1;
      }

      &> .text {
        @include header-text();

        order: 2;
      }
    }

    &> .header {
      @include base();
      @include header();

      grid-area: header;

      display: flex;
      justify-content: center;

      &> .icon {
        @include header-icon();

        order: 1;
      }

      &> .text {
        @include header-text();

        order: 2;
      }
    }

    &> .footer {
      @include base();

      border-top: $border-width $border-style $color-primary;

      grid-area: footer;
    }

    &> .menu {
      @include base();

      border-right: $border-width $border-style $color-primary;

      grid-area: menu;
    }

    &> .content {
      @include base();

      grid-area: content;
    }
  }
}
