@import '../base/base.scss';

@mixin base() {
  color: $color-primary;
  background-color: $color-background;
}

@import './header.scss';
@import './menu.scss';

div {

  &.layout-container {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    background-color: $color-background;

    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "logo header"
      "menu content"
      "footer footer";
    align-content: stretch;

    &> .footer {
      @include base();

      grid-area: footer;

      border-top: $border-width $border-style $color-divider;

      display: flex;
    }

    &> .content {
      @include base();

      grid-area: content;
    }
  }
}
