@mixin item() {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  margin-right: 1rem;
  display: flex;

  &.clickable {
    @include cursor-clickable();

    &:hover:not([disabled]), &:focus:not([disabled]) {
      color: $color-secondary;
    }
  }

  &> .icon {
    order: 1;
    margin-right: 0.5rem;

    height: 1rem;
    width: 1rem;
  }

  &> .text {
    order: 2;
  }
}

.layout-container {

  &> .menu {
    @include base();

    grid-area: menu;

    border-right: $border-width $border-style $color-divider;
    margin: 0;
    padding: 0.4rem;
    list-style-type: none;
    display: flex;
    flex-direction: column;

    &> .header {
      @include item();

      margin-left: 1rem;
      font-size: 1.2rem;
    }

    &> .item {
      @include item();

      margin-left: 2rem;
      font-size: 1rem;
    }
  }
}
