@import '../base/base.scss';

.tree-view {
  overflow-x: hidden;
  overflow-y: auto;

  background-color: $color-background;
  color: $color-primary;
}

.tree-node-container {
}

.tree-node-item {
  display: flex;
  align-items: center;

  &:disabled {
    color: $color-primary-disabled;
  }
}

.tree-node-arrow {
  margin-right: 0.3rem;
  width: 1rem;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &.expandable {
    cursor: pointer;

    &:after {
      content: '▾';
    }

    &:not(.expanded) {
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      transform: rotate(-90deg);
    }

    &:hover:not(.disabled) {
      border-color: $color-secondary;
      color: $color-secondary;
    }
  }
}

.tree-node-text {
  padding: 0.4rem 1rem;

  &.selectable {
    cursor: pointer;

    &:hover {
      color: $color-secondary;
    }
  }

  &.active {
    color: $color-background;
    background-color: $color-primary;

    &:hover {
      color: $color-background;
      background-color: $color-secondary;
    }
  }

}

.tree-node-children {
  margin-left: 1rem;
}
