@import '../base/base.scss';


@mixin base() {
  object-fit: scale-down;
  height: 100%;
  width: 100%;
}

img {
  &.icon {
    @include base();
  }
}

svg {
  &.svg-icon {
    @include base();
    color: $color-primary;
    stroke: currentColor;
    fill: currentColor;
  }
}
