@import '../base/base.scss';

@mixin base() {
  object-fit: scale-down;
  height: 100%;
  width: 100%;
}

.icon {
  @include base();
}

.svg-icon {
  @include base();
  stroke: currentColor;
  fill: currentColor;
}
