$color-primary: #4da6ff;
$color-secondary: #0073e6;
$color-background: #ffffff;
$lighten-disabled: 20;
$opacity-overlay: 0.5;

$color-divider: rgba($color-primary, 0.2);
$color-primary-disabled: lighten($color-primary, $lighten-disabled);
$color-secondary-disabled: lighten($color-secondary, $lighten-disabled);
$color-overlay: rgba(0, 0, 0, $opacity-overlay);
$color-transparent: rgba(0, 0, 0, 0);

$color-background-info: #e6f2ff;
$color-background-warning: #fff2e6;
$color-background-error: #ffebeb;

$color-info: $color-primary;
$color-warning: #ffcc80;
$color-error: #ff8080;
