$border-style: solid;
$border-width: 1px;

$container-margin: 0.5rem;
$container-padding: 1rem;

// https://css-tricks.com/snippets/css/css-triangle/

@mixin arrow-up($size) {
  width: 0;
  height: 0;
  border: none;

  border-left: $size solid transparent;
  border-right: $size solid transparent;

  border-bottom: $size solid currentColor;
}

@mixin arrow-down($size) {
  width: 0;
  height: 0;
  border: none;

  border-left: $size solid transparent;
  border-right: $size solid transparent;

  border-top: $size solid currentColor;
}

@mixin arrow-right($size) {
  width: 0;
  height: 0;
  border: none;

  border-top: $size solid transparent;
  border-bottom: $size solid transparent;

  border-left: $size solid currentColor;
}

@mixin arrow-left($size) {
  width: 0;
  height: 0;
  border: none;

  border-top: $size solid transparent;
  border-bottom: $size solid transparent;

  border-right: $size solid currentColor;
}
