@import '../base/index';

button {
  display: inline-block;
  outline: none;
  margin: 0.5em;
  padding: 0.5em 1em;

  font-family: $font;
  border: 0.05em solid $color-primary;
  color: $color-primary;
  background-color: $color-background;

  &:hover {
    color: $color-background;
    background-color: $color-primary;
  }
}
